<section id="writing" class="recent-writing" aria-labelledby="writing-heading">
  <h2 id="writing-heading">Recent writing</h2>
  <ul class="writing-list">
    {% assign selected_posts = site.posts | where: 'homepage', true %}
    {% for post in selected_posts %}
    <li>
      <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%b %-d, %Y' }}</time>
      <div><h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3><p>{{ post.description }}</p></div>
    </li>
    {% endfor %}
  </ul>
  <a class="section-more" href="{{ '/blog/' | relative_url }}">All writing &rarr;</a>
</section>
