---
layout: default
---
<div class="post homepage">
  <div class="intro">
    <aside class="profile-panel" aria-label="Portrait and profiles">
    {% if page.profile.image %}
    <img class="portrait" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}" alt="{{ page.profile.alt | escape }}" width="300" height="400">
    {% endif %}
    {% include profile_links.html %}
    </aside>
    <div class="intro-copy">
      <h1>{{ site.first_name }} {{ site.last_name }}</h1>
      <div class="introduction">{{ content }}</div>
    </div>
  </div>

  {% include recent_writing.html %}

  <section id="research" class="research-highlights" aria-labelledby="research-heading">
    <h2 id="research-heading">Selected research</h2>
    {% bibliography -f papers -T research_card -q @*[featured=true]* %}
  </section>

  {% if page.selected_papers %}
    {% include selected_papers.html %}
  {% endif %}
  {% include invited_talks.html %}

  <section id="projects" class="earlier-projects" aria-labelledby="projects-heading">
    <h2 id="projects-heading">Earlier projects</h2>
    <ul class="project-rows">
      {% assign projects = site.projects | sort: 'importance' %}
      {% for project in projects %}
      {% unless project.hide_from_homepage %}
      <li><a href="{{ project.url | relative_url }}">{{ project.title }}</a><span>{{ project.description }}</span></li>
      {% endunless %}
      {% endfor %}
    </ul>
  </section>
</div>
