---
layout: parse
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ page.redirect | relative_url | escape }}" />
  {%- endif -%}
  {% include head.html %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <a class="skip-link" href="#main">Skip to content</a>

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
    <main id="main" class="container site-content{% if page.url == '/' %} homepage-content{% endif %}" tabindex="-1">
      {{ content }}
    </main>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
  </body>
</html>
